.new-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(145, 145, 145);
    width: 20%;
    height: 50%;
    transition: ease 0.3s;
}

.plus-icon {
    font-size: 50px;
    color: white;
}

.new-project-text {
    font-size: 20px;
    color: white;
}

.new-project-container:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}