.project-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
}

.tools-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100%;
    background-color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
}

.images-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.images-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.image-buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.image-buttons button:hover {
    background-color: #0056b3;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.apply-button,
.save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-button {
    background-color: #28a745;
    color: white;
}

.apply-button:hover {
    background-color: #218838;
}

.save-button {
    background-color: #ffc107;
    color: white;
}

.save-button:hover {
    background-color: #d39e00;
}

input[type="range"] {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.reset-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
}

.reset-button:hover {
    background-color: #c82333;
}

.tools-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}